<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">
    <!--set注入-->
    <bean id="user1" class="com.angryzyh.ioc_xml.bean.User">
        <property name="uid" value="1001"/>
        <property name="uname" value="张三"/>
        <property name="age" value="18"/>
    </bean>

    <!--带全部参数构造注入-->
    <bean id="user2" class="com.angryzyh.ioc_xml.bean.User">
        <constructor-arg name="uid" value="1002"/>
        <constructor-arg name="uname" value="李四"/>
        <constructor-arg name="age" value="20"/>
    </bean>

    <!--带部分参数构造注入-->
    <bean id="user3" class="com.angryzyh.ioc_xml.bean.User">
        <constructor-arg name="uname" value="王五"/>
        <constructor-arg name="age" value="22"/>
    </bean>

    <!--p名称空间注入-->
    <bean id="user4" class="com.angryzyh.ioc_xml.bean.User" p:uid="1004" p:uname="老六" p:age="24"/>

    <!--空值null注入-->
    <!--值得注意的是,注入null值要确保实体类的属性不是基本类型,要为引用类型才有null值-->
    <bean id="user5" class="com.angryzyh.ioc_xml.bean.User">
        <property name="uid" value="1005"/>
        <constructor-arg name="uname">
            <null/>
        </constructor-arg>
        <constructor-arg name="age" value="26"/>
    </bean>

    <!--<![CDATA[]]>特殊值注入-->
    <bean id="user6" class="com.angryzyh.ioc_xml.bean.User">
        <property name="uid" value="1006"/>
        <property name="uname">
            <value><![CDATA[<<<炫酷的名字>>>]]></value>
        </property>
        <property name="age" value="28"/>
    </bean>

    <!--外部bean注入-->
    <bean id="userServiceImpl" class="com.angryzyh.ioc_xml.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="userDao" class="com.angryzyh.ioc_xml.dao.impl.UserDaoImpl"/>

    <!--内部bean注入-->
    <bean id="emp1" class="com.angryzyh.ioc_xml.bean.Employees">
        <property name="eid" value="2001"/>
        <property name="ename" value="小红"/>
        <property name="salary" value="2500.0"/>
        <property name="department">
            <bean class="com.angryzyh.ioc_xml.bean.Department">
                <property name="did" value="3001"/>
                <property name="dname" value="安保部"/>
            </bean>
        </property>
    </bean>

    <!--级联注入-->
    <bean id="emp2" class="com.angryzyh.ioc_xml.bean.Employees">
        <property name="eid" value="2001"/>
        <property name="ename" value="小刚"/>
        <property name="salary" value="3000.0"/>
        <property name="department" ref="dept1"/>
        <!--该种属性注入,需要在对象注入之后-->
        <property name="department.dname" value="测试部"/>
    </bean>
    <bean id="dept1" class="com.angryzyh.ioc_xml.bean.Department">
        <property name="did" value="3001"/>
        <property name="dname" value="开发部"/>
        <property name="address" value="一号楼"/>
    </bean>

    <!--集合注入-->
    <bean id="coll1" class="com.angryzyh.ioc_xml.bean.Collection">
        <!--array数组注入-->
        <property name="array">
            <array>
                <value>v1</value>
                <value>v2</value>
                <value>v3</value>
            </array>
        </property>
        <!--list集合注入-->
        <property name="list">
            <list>
                <value>v1</value>
                <value>v2</value>
                <value>v3</value>
                <ref bean="user1"/>
                <ref bean="user2"/>
            </list>
        </property>
        <!--map集合注入-->
        <property name="map">
            <map>
                <entry key="k1" value="v1"/>
                <entry key="k2" value="v2"/>
                <entry key="k3" value="v3"/>
            </map>
        </property>
        <!--set集合注入-->
        <property name="set">
            <set>
                <value>v1</value>
                <value>v2</value>
                <value>v3</value>
                <value>v3</value>
            </set>
        </property>
    </bean>

    <!--util名称空间注入-->
    <!--配置xml-->
    <util:list id="list">
        <value>v1</value>
        <value>v2</value>
        <ref bean="user1"/>
        <ref bean="user2"/>
    </util:list>
    <util:set id="set">
        <value>v1</value>
        <ref bean="user3"/>
    </util:set>
    <bean id="coll2" class="com.angryzyh.ioc_xml.bean.Collection">
        <property name="list" ref="list"/>
        <property name="set" ref="set"/>
    </bean>
</beans>