<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index.html页面</title>
</head>
<body>
    <ul>
        http状态码分类:
        <li>1** 信息，服务器收到请求，需要请求者继续执行操作</li>
        <li>2** 成功，操作被成功接收并处理</li>
        <li>3** 重定向，需要进一步的操作以完成请求</li>
        <li>4** 客户端错误，请求包含语法错误或无法完成请求</li>
        <li>5** 服务器错误，服务器在处理请求的过程中发生了错误</li>
    </ul>
    <hr>
    <ul>
        常见http错误状态码:
        <li>400 bad request:请求报文存在语法错误</li>
        <li>401 unauthorized:表示发送的请求需要有通过HTTP认证的认证信息</li>
        <li>403 forbidden:表示对请求资源的访问被服务器拒绝</li>
        <li>404 not found:源服务器未能找到目标资源的表示或者是不愿公开一个已经存在的资源表示</li>
        <li>405 Request method not supported:请求行中接收的方法由源服务器知道，但目标资源不支持</li>
    </ul>
    <hr>

    <h1>TestController.java</h1>
    <ul>
        <li><a th:href="@{/}">服务器启动默认跳转该页面</a></li>
    </ul>
    <hr>

    <h1>TestRequestMapping.java</h1>
    <ul>
        <li><a th:href="@{/test/testClassRequestPath.do}">测试@RequestMapping解注在类上</a></li>
        <li><a th:href="@{/test/testPropertyValue.do}">测试@RequestMapping注解的value属性</a>&nbsp;&nbsp;&nbsp;<a th:href="@{/test/testPropertyValue2.do}">这也是</a></li>
        <li><a th:href="@{/test/testPropertyMethod.do}">测试@RequestMapping注解的method属性a标签默认get提交</a><form method="post" th:action="@{/test/testPropertyMethod.do}"><input type="submit" value="form表单中,设置post提交"></form></li>
        <li>
            测试@RequestMapping的派生注解:<br>
            <ol>
                <li><a th:href="@{/test/testGetMapping.do}">测试@GetMapping注解,a标签默认get提交</a></li>
                <li><form method="post" th:action="@{/test/testPostMapping.do}"><input type="submit" value="form表单中,测试@PostMapping提交"></form></li>
                <li><form method="patch" th:action="@{/test/testPatchMapping.do}"><input type="submit" value="form表单中,测试@PatchMapping提交"></form></li>
            </ol>
        </li>
        <li><a th:href="@{/test/testPropertyParams.do(name='张三',pwd=123,money=100)}">测试@RequestMapping的params属性</a></li>
        <li><a th:href="@{/test/testPropertyHeaders.do}">测试@RequestMapping的headers属性</a></li>
        <li>
            测试SpringMVC支持Ant风格的映射路径:测试 空格,*,?,%,=,/,\,&,.,中文字符
            <!--注意: * % / \ 中文字符 访问400错误的请求-->
            <ol>
                <li><a th:href="@{/test/a1a/testAnt.do}">a?a</a></li>
                <li><a th:href="@{/test/b1b/testAnt.do}">b*b</a></li>
                <li><a th:href="@{/test/cc/1/testAnt.do}">cc/**/</a></li>
            </ol>
        </li>
        <li><a th:href="@{/test/testRestful/101/zhangsan/123456.do}">测试SpringMVC支持restful风格的路径</a></li>
    </ul>
    <hr>

    <h1>TestRequestParams.java</h1>
    <ul>
        <li>
            测试通过Servlet-api的HttpServletRequest获取请求参数
            <form method="post" th:action="@{/testServletAPI.do}">
                请输入用户名:<input type="text" name="username"><br>
                请输入用户密码:<input type="password" name="password"><br>
                <input type="submit">
            </form>
        </li>
        <li>
            测试SpringMVC的DispatcherServlet前端控制器获取请求参数
            <form method="post" th:action="@{/testDispatcherServlet.do}">
                请输入用户名:<input type="text" name="username"><br>
                请输入用户密码:<input type="password" name="password"><br>
                爱好:<input type="checkbox" name="hobby" value="唱歌">唱歌
                <input type="checkbox" name="hobby" value="跳舞">跳舞
                <input type="checkbox" name="hobby" value="Rap">Rap<br>
                <input type="submit">
            </form>
        </li>
        <li>
            测试当前端name属性名与控制器参数名不一致时@RequestParam注解获取请求参数
            <form method="get" th:action="@{/testRequestParam.do}">
                请输入用户名:<input type="text" name="user_name"><br>
                请输入用户密码:<input type="password" name="user_password"><br>
                爱好:<input type="checkbox" name="user_hobby" value="唱歌">唱歌
                <input type="checkbox" name="user_hobby" value="跳舞">跳舞
                <input type="checkbox" name="user_hobby" value="Rap">Rap<br>
                <input type="submit">
            </form>
        </li>
        <li><a th:href="@{/testRequestHeader.do}">测试@RequestHeader注解绑定控制器形参,获取请求头信息</a></li>
        <li><a th:href="@{/testCookieValue.do}">测试@CookieValue注解,获取第一次会话创建的cookie</a></li>
        <li><a th:href="@{/testPOJO.do(userId=1,userName='张三',userPassword='123456',userSex='男',userAge=18,userEmail='1111@qq.com')}">测试POJO,控制器形参为Bean对象,获取前端name属性名的value值</a></li>
    </ul>
    <hr>

    <h1>TestScopeObject.java</h1>
    <ul>
        <li><a th:href="@{/testRequestByServletAPI.do}">通过servletAPI向request域对象共享数据</a></li>
        <li><a th:href="@{/testModelAndView.do}">通过ModelAndView向request域对象共享数据</a></li>
        <li><a th:href="@{/testModel.do}">通过Model向request域对象共享数据</a></li>
        <li><a th:href="@{/testMap.do}">通过map向request域对象共享数据</a></li>
        <li><a th:href="@{/testModelMap.do}">通过ModelMap向request域对象共享数据</a></li>
        <li><a th:href="@{/testSession.do}">通过servletAPI向session域对象共享数据</a></li>
        <li><a th:href="@{/testApplication.do}">通过servletAPI向application域对象共享数据</a></li>
    </ul>
    <hr>

    <h1>TestView.java</h1>
    <ul>
        <li><a th:href="@{/testThymeleafView.do}">测试ThymeleafView转发视图</a></li>
        <li><a th:href="@{/testForward.do}">测试forward:转发，创建InternalResourceView视图</a></li>
        <li><a th:href="@{/testRedirect.do}">测试redirect:转发，创建RedirectView视图</a></li>
        <li><a th:href="@{/testThymeleafViewByModelAndView.do}">测试ModelAndView 对象创建视图</a></li>
    </ul>
    <hr>

    <h1>TestRESTfulController.java</h1>
    <ul>
        <li>测试RESTful发送get请求，查询全部信息：<a th:href="@{/user}">查询所有用户信息</a></li>
        <li>测试RESTful发送get请求+接参数，查询条件信息：<a th:href="@{/user/1}">根据id查询用户信息</a></li>
        <li>
            测试RESTful发送post请求，添加信息：
            <form th:action="@{/user}" method="post">
                用户名：<input type="text" name="username"><br>
                密码：<input type="password" name="password"><br>
                <input type="submit" value="添加"><br>
            </form>
        </li>
        <li>
            测试RESTful发送post请求，filter过滤器拦截，转换成put请求：
            <form th:action="@{/user22}" method="post">
                <!--用于发生put请求-->
                <input type="hidden" name="_method" value="PUT">
                用户名：<input type="text" name="username"><br>
                密码：<input type="password" name="password"><br>
                <input type="submit" value="修改"><br>
            </form>
        </li>
    </ul>
    <hr>

    <h1>EmployeeController.java</h1>
    <ul>
        <li><a th:href="@{/emp/employee}">进入员工页面</a></li>
    </ul>
    <hr>

    <h1>TestHttpMessageConverter.java</h1>
    <ul>
        <li>
            <form th:action="@{/testRequestBody.do}" method="post">
                <input type="text" name="username">
                <input type="text" name="password">
                <input type="submit" value="测试@RequestBody注解">
            </form>
        </li>
        <li>
            <form th:action="@{/testRequestEntity.do}" method="post">
                <input type="text" name="username">
                <input type="text" name="password">
                <input type="submit" value="测试RequestEntity类">
            </form>
        </li>
        <li><a th:href="@{/testResponse.do}">测试使用servlet-api 获取响应对象，向前端传送数据</a></li>
        <li><a th:href="@{/testResponseBody.do}">测试@ResponseBody注解控制器,控制器返回值输出到前端</a></li>
        <li><a th:href="@{/testResponseBodyReturnUser.do}">测试@ResponseBody注解控制器,将Java对象直接作为控制器方法的返回值返回，就会自动转换为Json格式的字符串</a></li>
        <li><a th:href="@{/testResponseBodyByReturnMapUser.do}">测试@ResponseBody注解控制器,控制器返回值为map集合,value为user对象</a></li>
        <li><a th:href="@{/testResponseBodyByReturnListUser.do}">测试@ResponseBody注解控制器,控制器返回值为list集合,集合元素为user对象</a></li>
        <li>
            <div id="app">
                <a @click="testAxios" th:href="@{/testResponseBodyByAxios.do}">SpringMVC处理ajax</a>
            </div>
            <script type="text/javascript" th:src="@{/static/js/vue.js}"></script>
            <script type="text/javascript" th:src="@{/static/js/axios.min.js}"></script>
            <script type="text/javascript">
                new Vue({
                    el:"#app",
                    methods:{
                        testAxios:function (event) {
                            axios({
                                method:"post",
                                url:event.target.href,
                                params:{
                                    username:"admin",
                                    password:"123456"
                                }
                            }).then(function (response) {
                                alert(response.data);
                            });
                            event.preventDefault();
                        }
                    }
                });
            </script>
        </li>
    </ul>
    <hr>

    <h1>TestFileUpAndDownload.java</h1>
    <ul>
        <li><a th:href="@{/testDown.do}">下载</a></li>
        <li>
            <form th:action="@{/testUp.do}" method="post" enctype="multipart/form-data">
                头像：<input type="file" name="photo"><br>
                <input type="submit" value="上传">
            </form>
        </li>
    </ul>
</body>
</html>