<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--根据属性名称自动注入-->
    <bean id="emp1" class="com.angryzyh.ioc_xml.bean.Employees" autowire="byName"/>
    <bean id="department" class="com.angryzyh.ioc_xml.bean.Department">
        <constructor-arg name="dname" value="测试部"/>
        <constructor-arg name="address" value="三号楼"/>
    </bean>
</beans>